<!DOCTYPE html>
<html lang="en" ng-app="medTermsApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
    <title>Medical terms</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
     <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    
  </head>
  <body ng-controller="MedTermsController">
  <div class="panel panel-primary">
	   <h3 class="panel-heading">Medical Terms and Patient Counts</h3>
	  <div class="panel-body">
	   
	 	
		 	<nav aria-label="Page navigation">
			  <ul class="pagination">
			    <li >
			      <a href="#" aria-label="Previous" ng-click="prevClick()">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li ng-repeat="pageN in countPages(medTermsContent.nOfPages) track by $index" class="{{isActive($index+1)}}">
			    	<a href="#" ng-click="pageClick($index)">{{$index+1}}</a>
			    </li>
			    <li > 
			      <a href="#" aria-label="Next" ng-click="nextClick()" >
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
			<ul class="list-group">
			  <li ng-repeat="medTerm in medTermsContent.medicalTerms" class="list-group-item">
			  	<a href="" ng-click="loadReferences(medTerm.termId, medTerm.termTitle)" title="click to see the resources"  data-toggle="modal" data-target="#linksModal">{{medTerm.termTitle}} ({{medTerm.nOfPatients}})</a>
			  </li>
			</ul>
	</div>
  </div> 	
 
<div id="linksModal" class="modal fade" role="dialog" style="margin-top:7%;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">References for {{referencesContent.medicalTerm}}</h4>
      </div>
      <div class="modal-body">
        
			<ul class="list-group">
			  <li  class="list-group-item" ng-repeat="ref in referencesContent.links">
			  	<a href="#" title="click to see the references"  ng-click="openLink(ref.url);">{{ref.displayText}}</a>
			  </li>
			</ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>	
   
  </body>
</html>